.__header_agency {
    width: 100dvw;
    height: 50px;
}

.__main_agency {
    width: 100dvw;
    padding: 1rem 0;
    height: calc(100dvh - 50px);
    overflow-y: auto;
}

.__main_agency::-webkit-scrollbar {
    display: none;
}

.__main_agency .__lst_agency {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    flex-direction: column;
}