.__header_cart {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
}

.__header_cart .__btn_back {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    color: var(--color-dark);
    border-radius: var(--radius-rounded);
}

.__main_cart {
    width: 100%;
    overflow-y: auto;
    padding: 1rem 0;
}

.__main_cart::-webkit-scrollbar {
    display: none;
}

.__main_cart_full {
    display: grid;
    padding: 0 1rem;
    place-items: center;
    height: calc(100dvh - 60px);
}

.__main_cart_full .__content_box {
    text-align: center;
}

.__main_cart_full .__content_box p {
    font-size: .8rem;
    color: var(--color-gray);
}

.__main_cart_full .__content_box .__btn_back_primary {
    display: inline-block;
    padding: .5rem 1rem;
    color: var(--color-white);
    margin-top: 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-primary);
}

.__main_cart_pay {
    height: calc(100dvh - 120px);
}

.__main_cart_pay .--box-bussines {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.__main_cart_pay .--box-bussines .--col-A .--avatar {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__main_cart_pay .--choosed-pick {
    width: 90%;
    padding: .2rem;
    overflow: hidden;
    border-radius: var(--radius-rounded);
    background-color: var(--color-secondary);
}

.__main_cart_pay .--choosed-pick .--btn-pick {
    width: 100%;
    height: 40px;
    border-radius: var(--radius-rounded);
}

.__main_cart_pay .--choosed-pick .--btn-pick--active {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.__main_cart_pay .--product-summary {
    width: 90%;
    margin: auto;
}

.__main_cart_pay .--product-summary ul {
    padding: 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__main_cart_pay .--product-summary ul .--line {
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}

.__footer_cart {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

.__footer_cart .__btn_pay {
    width: 100%;
    height: 50px;
    font-weight: 600;
    color: var(--color-white);
    border-radius: var(--radius-md);
    background-color: var(--color-primary);
}