.__main_place {
    width: 100dvw;
    padding: 1rem 0;
    overflow-y: auto;
    height: calc(100dvh - 200px);
}

.__main_place::-webkit-scrollbar {
    display: none;
}

.__main_place .__section_place {
    width: 100%;
    margin-bottom: 1rem;
}

.__main_place .__section_place .__subtext {
    display: flex;
    gap: .3rem;
    padding-left: 1rem;
    align-items: center;
    color: var(--color-gray);
    font-size: var(--font-size-xs);
}

.__main_place .__section_place .__subtext .tabler-icon {
    width: 18px;
    height: 18px;
}

.__main_place .__section_place .__title {
    font-weight: 500;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: var(--font-size-xl);
}

.__main_place .__section_place .__subtitle {
    padding: 0 1rem;
    margin-bottom: .4rem;
}

.__main_place .__section_place .__parragraph {
    padding: 0 1rem;
    text-align: justify;
    margin-bottom: .8rem;
    color: var(--color-gray);
    font-size: var(--font-size-xs);
}

.__main_place .__section_place .__list_gallery {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    align-items: center;
    padding-left: 1rem;
}

.__main_place .__section_place .__list_gallery:last-child {
    padding-right: 1rem;
}

.__main_place .__section_place .__list_gallery::-webkit-scrollbar {
    display: none;
}

.__main_place .__section_place .__list_gallery .__photo {
    width: 100px;
    height: 100px;
    min-width: 100px;
    overflow: hidden;
    background-color: #F2F3F5;
    border-radius: var(--radius-md);
}

.__main_place .__section_place .__list_gallery .__photo .__img_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.__main_place .__section_place .__lst_recommend {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-left: 1rem;
}

.__main_place .__section_place .__lst_recommend::-webkit-scrollbar {
    display: none;
}

.__main_place .__section_place .__lst_recommend:last-child {
    padding-right: 1rem;
}

.__main_place .__section_place .__lst_recommend .__card_li {
    min-width: calc(100dvw - 2rem);
}