.__header_sub_agency {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: var(--color-secondary);
}

.__header_sub_agency .__row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.__header_sub_agency .__row .__btn_back {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    color: var(--color-dark);
    border-radius: var(--radius-rounded);
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px 0px rgba(44, 44, 44, .2);
}

.__header_sub_agency .__row .__btns_actions {
    display: flex;
    gap: 1rem;
}

.__header_sub_agency .__row .__btns_actions .__btn_action {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    color: var(--color-dark);
    border-radius: var(--radius-rounded);
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px 0px rgba(44, 44, 44, .2);
}