.__main_sub_agency {
    width: 100%;
    height: calc(100dvh - 180px);
    overflow-y: auto;
    padding: 1rem 0;
}

.__main_sub_agency::-webkit-scrollbar {
    display: none;
}

.__main_sub_agency .__section_main_agency {
    width: 100%;
    margin-bottom: 1rem;
}

.__main_sub_agency .__section_main_agency_present {
    padding: 0 1rem;
}

.__main_sub_agency .__section_main_agency_present span {
    color: var(--color-gray);
    font-size: var(--font-size-xxs);
}

.__main_sub_agency .__section_main_agency_present p {
    color: var(--color-gray);
    font-size: var(--font-size-xs);
}

.__main_sub_agency .__nav {
    width: 100%;
    margin: 1rem 0;
    border-bottom: 1px solid var(--color-secondary);
}

.__main_sub_agency .__nav .__nav_lst {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-left: 1rem;
}

.__main_sub_agency .__nav .__nav_lst:last-child {
    padding-right: 1rem;
}

.__main_sub_agency .__nav .__nav_lst::-webkit-scrollbar {
    display: none;
}

.__main_sub_agency .__nav .__nav_lst .__nav_itm {
    cursor: pointer;
    font-size: var(--font-size-xs);
    text-wrap: nowrap;
    padding: .5rem .5rem;
}

.__main_sub_agency .__nav .__nav_lst .__nav_itm--active {
    border-bottom: 2px solid var(--color-dark);
}