.__main_sub_agency {
    width: 100%;
    height: calc(100dvh - 180px);
    overflow-y: auto;
    padding-bottom: 1rem;
}

.__main_sub_agency::-webkit-scrollbar {
    display: none;
}

.__main_sub_agency .__section_main_agency {
    width: 100%;
    margin-bottom: 1rem;
}

.__main_sub_agency .__section_main_agency_present {
    padding: 0 1rem;
}

.__main_sub_agency .__section_main_agency_present span {
    color: var(--color-gray);
    font-size: var(--font-size-xxs);
}

.__main_sub_agency .__section_main_agency_present p {
    color: var(--color-gray);
    font-size: var(--font-size-xs);
}

.__main_sub_agency .__nav {
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-secondary);
    background-color: var(--color-white);
}

.__main_sub_agency .__nav .__nav_lst {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-left: 1rem;
}

.__main_sub_agency .__nav .__nav_lst:last-child {
    padding-right: 1rem;
}

.__main_sub_agency .__nav .__nav_lst::-webkit-scrollbar {
    display: none;
}

.__main_sub_agency .__nav .__nav_lst .__nav_itm {
    cursor: pointer;
    font-size: var(--font-size-xs);
    text-wrap: nowrap;
    padding: .5rem .5rem;
}

.__main_sub_agency .__nav .__nav_lst .__nav_itm--active {
    border-bottom: 2px solid var(--color-dark);
}

.__main_sub_agency .__section_main_agency .__lst_elements {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
    flex-direction: column;
}

.__main_sub_agency .__section_main_agency_review h3 {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.__main_sub_agency .__section_main_agency .__box_info {
    width: 90%;
    margin: auto;
    padding: .8rem;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__main_sub_agency .__section_main_agency .__box_info h3 {
    margin-bottom: .4rem;
}

.__main_sub_agency .__section_main_agency .__box_info ul {
    display: flex;
    gap: .2rem;
    flex-direction: column;
    color: var(--color-dark);
    font-size: var(--font-size-xs);
}

.__main_sub_agency .__section_main_agency_report {
    padding: 1rem;
}

.__main_sub_agency .__section_main_agency_report .__reports {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.__main_sub_agency .__section_main_agency_report .__reports .__report {
    width: 100%;
    display: flex;
    gap: .5rem;
    padding: .5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs);
    border-radius: var(--radius-md);
}