.__header_search {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    align-items: center;
}

.__header_search .__btn_back {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    color: var(--color-dark);
    border-radius: var(--radius-rounded);
}

.__header_search .__search_bar {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: var(--radius-rounded);
    background-color: var(--color-secondary);
}

.__header_search .__search_bar .__entry_search {
    width: inherit;
    height: inherit;
    padding: 0 50px 0 1rem;
}

.__header_search .__search_bar .__span_ico {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
}

.__header_search .__search_bar .__span_ico .tabler-icon {
    width: 18px;
    height: 18px;
}

.__main_search {
    width: 100%;
    height: calc(100dvh - 60px);
    overflow-y: auto;
    padding: 1rem 0;
}

.__main_search::-webkit-scrollbar {
    display: none;
}

.__main_search .__full_main_search {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    place-items: center;
}

.__main_search .__list_search_items {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    flex-direction: column;
}