.__section_mb {
    margin-bottom: 1rem;
}

.__section_lst_itms {
    width: 100%;
    padding: 0 1rem;
}

.__section_lst_itms .__lst_items {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.__section_reviews {
    width: 100%;
}

.__section_reviews h3 {
    padding-left: 1rem;
    margin-bottom: 1rem;
}