.__header_cart {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    align-items: center;
}

.__header_cart .__btn {
    display: grid;
    width: 40px;
    height: 40px;
    min-width: 40px;
    place-items: center;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__main_cart {
    width: 100%;
    height: calc(100dvh - 120px);
    overflow-y: auto;
}

.__main_cart::-webkit-scrollbar {
    display: none;
}

.__main_cart .__company {
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.__main_cart .__company .__row {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.__main_cart .__company .__row .__avatar {
    width: 45px;
    height: 45px;
    min-width: 45px;
    overflow: hidden;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__main_cart .__company .__row .__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.__main_cart .__company .__row .__info p {
    font-size: .8rem;
    color: var(--color-gray);
}

.__main_cart .__company .__link {
    text-wrap: nowrap;
    font-size: .8rem;
    font-weight: bold;
}

.__main_cart .__send {
    width: 100%;
    padding: 1rem;
}

.__main_cart .__send .__box_send {
    display: flex;
    padding: .2rem;
    border-radius: var(--radius-pill);
    background-color: var(--color-secondary);
}

.__main_cart .__send .__box_send .__btn {
    display: grid;
    width: 100%;
    height: 30px;
    font-size: .8rem;
    place-items: center;
    border-radius: inherit;
}

.__main_cart .__send .__box_send .__btn--active {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.__main_cart .__box_alert {
    width: 100%;
    padding: 1rem;
}

.__main_cart .__box_delivery {
    width: 100%;
    padding: 1rem;
}

.__main_cart .__box_delivery h3 {
    margin-bottom: 1rem;
}

.__main_cart .__box_delivery .__bx_entry {
    position: relative;
    width: 100%;
    height: 60px;
}

.__main_cart .__box_delivery .__bx_entry .__ico {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    place-items: center;
}

.__main_cart .__box_delivery .__bx_entry input {
    width: 100%;
    height: inherit;
    padding: 0 1rem 0 60px;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
}

.__main_cart .__product_lst {
    width: 100%;
    padding: 1rem;
}

.__main_cart .__product_lst .__lst {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.__main_cart .__notes_company {
    width: 100%;
    padding: 1rem;
}

.__main_cart .__notes_company .__rowA {
    width: 100%;
    display: flex;
    padding: .4rem 0;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: space-between;
}

.__main_cart .__notes_company .__rowA .__tlt {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.__main_cart .__notes_company .__rowB .__textbox {
    width: 100%;
    padding: 1rem;
    height: 100px;
    resize: none;
    max-height: 100px;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
}


.__main_cart .__target {
    width: 100%;
    padding: 1rem;
}

.__main_cart .__target .__row {
    width: 100%;
}

.__main_cart .__target .__row h2 {
    margin-bottom: 1rem;
}

.__main_cart .__target .__row .__lst_prices {
    width: 100%;
    display: flex;
    gap: .8rem;
    flex-direction: column;
}

.__main_cart .__target .__row .__lst_prices .__lst_price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.__footer_cart {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    background-color: var(--color-white);
}

.__footer_cart .__btn_primary {
    width: 100%;
    height: 45px;
    font-weight: bold;
    color: var(--color-white);
    border-radius: var(--radius-pill);
    background-color: var(--color-primary);
}