.__section_profile {
    width: 90%;
    margin: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border);
}

.__section_profile h5 {
    margin-bottom: 1rem;
}

.__section_profile .__lst_actions {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.__section_profile .__lst_actions .__itm_action {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: .8rem;
    cursor: pointer;
    align-items: center;
    font-size: var(--font-size-xs);
    justify-content: space-between;
    border-radius: var(--radius-md);
}

.__section_profile .__lst_actions .__itm_action .__span_flex {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.__section_info {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    color: var(--color-gray);
    font-size: var(--font-size-xs);
}