.__header_drive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: 10px 1rem;
}

.__header_drive .__btn_back {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    color: var(--color-dark);
    border-radius: var(--radius-rounded);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px 0 rgba(106, 106, 106, 0.5);
}