.__main_drive {
    position: relative;
    width: 100dvw;
    height: 100dvh;
}

.__main_drive .__map_drive {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    overflow: hidden;
    z-index: 0;
    background-color: #F2F0F5;
}