.__header_store {
    width: 100dvw;
    height: 100px;
}

.__main_store {
    width: 100%;
    padding: 1rem 0;
    overflow-y: auto;
    height: calc(100dvh - 100px);
}

.__main_store::-webkit-scrollbar {
    display: none;
}

.__main_store .__list_stores {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    flex-direction: column;
}