.__header_foodies {
    width: 100%;
    height: 100px;
}

.__header_foodies .__row {
    width: 100%;
    
}

.__header_foodies .__row_A {
    display: flex;
    gap: 1rem;
    padding: 5px 1rem;
    align-items: center;
    justify-content: space-between;
}

.__header_foodies .__row_A .__a_btn {
    display: grid;
    width: 40px;
    height: 40px;
    min-width: 40px;
    place-items: center;
}

.__header_foodies .__row_A .__a_btn .tabler-icon {
    stroke: var(--color-dark);
}