.__card_product {
    width: 100%;
    display: flex;
    gap: .8rem;
}

.__card--hidden {
    display: none;
}

.__card_product .__card_data {
    width: 100%;
}

.__card_product .__card_data .__tit {
    color: var(--color-dark);
}

.__card_product .__card_data .__text {
    font-size: .8rem;
    color: var(--color-gray);
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Máximo 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: .5rem 0;
}

.__card_product .__card_data .__price {
    font-size: 1.2rem;
    font-weight: bold;
}

.__card_product .__card_data .__price span {
    font-size: .8rem;
    color: var(--color-gray);
}

.__card_product .__card_photo {
    position: relative;
    width: 120px;
    height: 120px;
    min-width: 120px;
    overflow: hidden;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__card_product .__card_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.__card_product .__card_photo .__btn {
    position: absolute;
    display: grid;
    width: 30px;
    height: 30px;
    place-items: center;
    border-radius: var(--radius-pill);
    background-color: var(--color-white);
}

.__card_product .__card_photo .__btn_heart {
    top: 5px;
    right: 5px;
}

.__card_product .__card_photo .__btn_add {
    bottom: 5px;
    right: 5px;
}

.__card_product .__card_photo .__btn .tabler-icon {
    width: 18px;
    height: 18px;
}

.__card_product .__card_photo .__btn_add_active {
    color: var(--color-white);
    background-color: var(--color-dark);
}