.__card_recommend {
    width: calc(100dvw - 4rem);
    min-width: calc(100dvw - 4rem);
}

.__card_recommend .__a_card_recommend {
    display: flex;
    gap: .8rem;
    flex-direction: column;
}

.__card_recommend .__a_card_recommend .__card_recommend_img {
    width: 100%;
    height: 180px;
    overflow: hidden;
    background-color: #f3f2f4;
    border-radius: var(--radius-md);
}
.__card_recommend .__a_card_recommend .__card_recommend_txt {
    color: var(--color-dark);
}
.__card_recommend .__a_card_recommend .__card_recommend_txt p {
    color: var(--color-gray);
    font-size: var(--font-size-xxs);
}