.__categories {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.__categories::-webkit-scrollbar {
    display: none;
}

.__categories .__category .__a_category {
    position: relative;
    display: flex;
    gap: .2rem;
    align-items: center;
    padding: .5rem .8rem;
    color: var(--color-dark);
    background-color: #f3f2f4;
    font-size: var(--font-size-xs);
    border-radius: var(--radius-rounded);
}

.__categories .__category .__a_category .tabler-icon {
    width: 20px;
    height: 20px;
}

.__categories .__category .__a_category p {
    color: var(--color-dark);
    font-size: var(--font-size-xs);
}