.__header_login {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    align-items: center;
}

.__header_login .__btn_back {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    color: var(--color-dark);
}

.__main_login {
    width: 100dvw;
    padding: 1rem;
    height: calc(100dvh - 60px);
}

.__main_login .__title {
    margin-bottom: .5rem;
}

.__main_login .__title .__txt_secondary {
    color: var(--color-dark);
    font-size: var(--font-size-lg);
}

.__main_login .__title .__txt_primary {
    color: var(--color-primary);
    font-size: var(--font-size-xxxl);
}

.__main_login .__txt_description {
    margin-bottom: 1rem;
    color: var(--color-gray);
}


.__main_login .__form {
    width: 100%;
    padding: 2rem 0;
}

.__main_login .__form .__form_group {
    width: 100%;
    margin-bottom: 1rem;
}

.__main_login .__form .__form_group label {
    display: inline-block;
    margin-bottom: .5rem;
    color: var(--color-gray);
    font-size: var(--font-size-sm);
}

.__main_login .__form .__form_group .__form_control {
    position: relative;
    width: 100%;
}

.__main_login .__form .__form_group .__form_control .__form_ico {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    place-items: center;
}

.__main_login .__form .__form_group .__form_control .__form_ico .tabler-icon {
    stroke: var(--color-gray);
}

.__main_login .__form .__form_group .__form_control .__entry_block {
    width: 100%;
    height: 50px;
    padding: 0 1rem 0 50px;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__main_login .__form .__form_group .__btn_block_primary {
    width: 100%;
    height: 50px;
    color: var(--color-white);
    border-radius: var(--radius-md);
    background-color: var(--color-primary);
    font-weight: var(--font-weight-semibold);
}

.__main_login .__form .__form_group p {
    text-align: center;
    color: var(--color-gray);
    font-size: var(--font-size-xxs);
}