.__section_main_banner {
    margin-bottom: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.__section_main_banner span {
    color: var(--color-gray);
    font-size: var(--font-size-xxs);
}

.__section_main_banner p {
    color: var(--color-gray);
    font-size: var(--font-size-xs);
}

.__section_main_banner_bottom .__box_info {
    width: 90%;
    margin: auto;
    padding: .8rem;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__section_main_banner_bottom .__box_info h3 {
    margin-bottom: .4rem;
}

.__section_main_banner_bottom .__box_info ul {
    display: flex;
    gap: .2rem;
    flex-direction: column;
    color: var(--color-dark);
    font-size: var(--font-size-xs);
}

.__section_main_banner_bottom_report {
    padding: 1rem;
}

.__section_main_banner_bottom_report .__reports {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.__section_main_banner_bottom_report .__reports .__report {
    width: 100%;
    display: flex;
    gap: .5rem;
    padding: .5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs);
    border-radius: var(--radius-md);
}