.--btn-float-cart {
    position: absolute;
    bottom: -40px;
    left: 30%;
    width: 40%;
}

.--btn-float-cart--active {
    bottom: 10px;
}

.--btn-float-cart span {
    width: 20px;
    height: 20px;
    min-width: 20px;
}