.__nav_bssn {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-secondary);
    background-color: var(--color-white);
}

.__nav_bssn .__nav_lst {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-left: 1rem;
}

.__nav_bssn .__nav_lst:last-child {
    padding-right: 1rem;
}

.__nav_bssn .__nav_lst::-webkit-scrollbar {
    display: none;
}

.__nav_bssn .__nav_lst .__nav_itm {
    cursor: pointer;
    font-size: var(--font-size-xs);
    text-wrap: nowrap;
    padding: .5rem 1rem;
}

.__nav_bssn .__nav_lst .__nav_itm--active {
    border-bottom: 2px solid var(--color-dark);
}