.__filters_navigate {
    width: 100%;
    display: flex;
    gap: .5rem;
    padding: .5rem 0;
    overflow-x: auto;
    padding-left: 1rem;
}

.__filters_navigate::-webkit-scrollbar {
    display: none;
}

.__filters_navigate:last-child {
    padding-right: 1rem;
}

.__filters_navigate .__filter {
    display: flex;
    gap: .5rem;
    cursor: pointer;
    align-items: center;
    text-wrap: nowrap;
    font-size: .75rem;
    padding: .4rem .6rem;
    background-color: #F3F2F4;
    border-radius: var(--radius-rounded);
}

.__filters_navigate .__filter--active {
    color: var(--color-white);
    background-color: var(--color-primary);
}