.__promotions_banner {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.__promotions_banner::-webkit-scrollbar {
    display: none;
}

.__promotions_banner .__promotion_banner {
    width: calc(100dvw - 2rem);
    min-width: calc(100dvw - 2rem);
    height: 120px;
    overflow: hidden;
    background-color: #f3f2f4;
    border-radius: var(--radius-md);
}