.__pwa_status {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: .5rem 100px 0 1rem;
    justify-content: flex-start;
    background-color: var(--color-primary);
}

.__pwa_status .__img_avatar {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 100px;
}

.__pwa_status .__pwa_status--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-white);
}

.__pwa_status .__pwa_status--content p {
    margin-bottom: .5rem;
    font-size: var(--font-size-xs);
}

.__pwa_status .__pwa_status--content button {
    padding: .4rem .8rem;
    color: var(--color-white);
    border-radius: var(--radius-lg);
    font-weight: var(--font-weight-semibold);
    background-color: var(--color-primary-dark);
}