.__reviews_lst {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-left: 1rem;
}

.__reviews_lst:last-child {
    padding-right: 1rem;
}

.__reviews_lst::-webkit-scrollbar {
    display: none;
}

.__reviews_lst .__review {
    width: calc(100dvw - 2rem);
    padding: .5rem;
    min-width: calc(100dvw - 2rem);
    border-radius: var(--radius-md);
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
}

.__reviews_lst .__review .__review_date {
    width: 100%;
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
    align-items: center;
    color: var(--color-gray);
    font-size: var(--font-size-xxs);
}

.__reviews_lst .__review .__review_date .__stars .tabler-icon {
    width: 14px;
    height: 14px;
}

.__reviews_lst .__review .__review_comment {
    margin-bottom: .5rem;
    color: var(--color-dark);
    font-size: var(--font-size-sm);
}

.__reviews_lst .__review .__review_user {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
}