.__a_search_bar {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    align-items: center;
    color: var(--color-gray);
    font-size: var(--font-size-xs);
    border-radius: var(--radius-rounded);
    
}

.__a_search_bar_primary {
    background-color: var(--color-white);
}

.__a_search_bar_secondary {
    background-color: #f3f2f4;
}

.__a_search_bar .__btn_search {
    position: absolute;
    top: 2.5px;
    right: 2.5px;
    display: grid;
    width: 35px;
    height: 35px;
    place-items: center;
    border-radius: var(--radius-rounded);
    
}

.__a_search_bar .__btn_search_primary {
    background-color: var(--color-primary);
}

.__a_search_bar .__btn_search_secondary {
    background: none;
}

.__a_search_bar .__btn_search .tabler-icon {
    width: 18px;
    height: 18px;
    stroke: var(--color-white);
}

.__a_search_bar .__btn_search_secondary .tabler-icon {
    stroke: var(--color-dark);
}