.__splash_app {
    display: grid;
    width: 100dvw;
    height: 100dvh;
    place-items: center;
    background-color: var(--color-primary);
}

.__splash_app .__image_app {
    width: 40%;
    margin: auto;
    animation: pulse-scale 2s ease-in-out infinite;
}

@keyframes pulse-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}