.__filters {
    width: 100%;
    display: flex;
    gap: .5rem;
    padding: .5rem 0;
    overflow-x: auto;
    padding-left: 1rem;
}

.__filters::-webkit-scrollbar {
    display: none;
}

.__filters:last-child {
    padding-right: 1rem;
}

.__filters .__filter {
    display: flex;
    gap: .5rem;
    align-items: center;
    text-wrap: nowrap;
    font-size: .75rem;
    padding: .2rem .6rem;
    background-color: #F3F2F4;
    border-radius: var(--radius-rounded);
}