.__card_search_item {
    width: 100%;
}

.__card_search_item .__card_search_item_link {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.__card_search_item .__card_search_item_link .__image {
    width: 50px;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary);
}

.__card_search_item .__card_search_item_link .__text {
    color: var(--color-dark);
}

.__card_search_item .__card_search_item_link .__text p {
    font-size: .8rem;
    color: var(--color-gray);  
}