.__header_notifications {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
}

.__header_notifications .__btn_back {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    color: var(--color-dark);
    border-radius: var(--radius-rounded);
}

.__main_notifications {
    width: 100%;
    height: calc(100dvh - 60px);
    overflow-y: auto;
    padding: 1rem 0;
}

.__main_notifications::-webkit-scrollbar {
    display: none;
}

.__main_notifications .__full_main_notifications {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    place-items: center;
}