.__terms_box {
    width: 90%;
    margin: auto;
}

.__terms_box .__terms_head {
    margin-bottom: 1rem;
}

.__terms_box .__terms_head .__txt_tit {
    font-size: var(--font-size-xl);
}
.__terms_box .__terms_head .__txt_sub {
    font-size: .8rem;
    color: var(--color-gray);
}

.__terms_box .__terms_article {
    width: 100%;
    margin-bottom: 1rem;
}

.__terms_box .__terms_article .__txt_sub_tit {
    margin-bottom: .8rem;
    font-size: var(--font-size-md);
}

.__terms_box .__terms_article .__txt_parragraph {
    text-align: justify;
    margin-bottom: .8rem;
    font-size: var(--font-size-xs);
}

.__terms_box .__terms_article .__txt_sub_parragraph {
    width: 100%;
    margin-left: .4rem;
}

.__terms_box .__terms_article .__txt_sub_parragraph .__list {
    width: 100%;
    display: flex;
    margin-left: .8rem;
    margin-bottom: .8rem;
    flex-direction: column;
}

.__terms_box .__terms_article .__txt_sub_parragraph .__list li {
    list-style: disc;
    width: 100%;
    text-wrap: wrap;
    font-size: var(--font-size-xs);
}

.__terms_box .__terms_article .__list {
    margin-left: .8rem;
}

.__terms_box .__terms_article .__list li {
    list-style: disc;
    width: 100%;
    text-wrap: wrap;
    font-size: var(--font-size-xs);
}

.__terms_box .__line {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    background-color: var(--color-secondary);
}

.__terms_box .__terms_links {
    width: 100%;
}

@media (min-width: 760px) {
    .__terms_box {
        width: 60%;
    }
}