.__card_food {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.__card_food--hidden {
    display: none;
}

.__card_food .__text .__category {
    font-size: .8rem;
    color: var(--color-gray);
}

.__card_food .__text .__title {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.__card_food .__text .__txtd {
    font-size: .8rem;
    margin-bottom: .5rem;
    color: var(--color-gray);
}

.__card_food .__text .__price {
    font-size: 1rem;
    font-weight: bold;
}

.__card_food .__avatar {
    position: relative;
    width: 120px;
    height: 120px;
    min-width: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
}

.__card_food .__avatar img {display: none;}

.__card_food .__avatar .__btn_add_cart {
    position: absolute;
    display: grid;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    place-items: center;
    border-radius: var(--radius-pill);
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
}

.__card_food .__avatar .__btn_add_cart--active {
    color: var(--color-white);
    border: 2px solid var(--color-white);
    background-color: var(--color-dark);
}