.__card_li {
    width: 100%;
}

.__card_li .__card_link {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.__card_li .__card_link .__card_link_image {
    width: 100%;
    height: 200px;
    border-radius: var(--radius-md);
}

.__card_li .__card_link .__card_link_text {
    color: var(--color-dark);
}

.__card_li .__card_link .__card_link_text p {
    color: var(--color-gray);
    font-size: var(--font-size-xs);
}