.__main_app {
    width: 100%;
    padding: 1rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100dvh - 180px);
}

.__main_app::-webkit-scrollbar {
    display: none;
}

.__main_app_me {
    height: calc(100dvh - 120px);
}

.__main_app_me::-webkit-scrollbar {
    display: none;
}

.__box_denied {
    width: 90%;
    margin: auto;
    height: 100%;
    display: grid;
    place-items: center;
}

.__box_denied .__content_denied {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.__box_denied .__content_denied button {
    padding: .8rem 1rem;
    color: var(--color-white);
    border-radius: var(--radius-md);
    background-color: var(--color-primary);
}