.__tabs {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--border-default);
}

.__tabs .__tab {
    width: 100%;
    height: inherit;
}

.__tabs .__tab .__a_tab {
    display: flex;
    width: 100%;
    height: inherit;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.__tabs .__tab .__a_tab .__tab_ico .tabler-icon {
    stroke: var(--color-gray);
}

.__tabs .__tab .__a_tab .__tab_txt {
    color: var(--color-gray);
    font-size: var(--font-size-xxs);
}

.__tabs .__tab .__a_tab--active .__tab_ico .tabler-icon {
    stroke-width: 1.8;
    stroke: var(--color-dark);
}

.__tabs .__tab .__a_tab--active .__tab_txt {
    color: var(--color-dark);
    font-weight: var(--font-weight-semibold);
}